body{
    padding: 0px;
}

.dh-1{
    display: flex;
    justify-content:space-evenly;
    height: 65px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 40px ;
    padding-top: 0px;
    padding-bottom: 5px;
    overflow: hidden;
}

.logo{
    font-size: 47px;
    color: rgb(71, 13, 71);
    font-family: 'Poppins', sans-serif;
}

.search-bar{
    width: 590px;
    height: 45px;
    border-radius: 4px;
    color: rgb(102, 101, 101);
    margin-top: 8px;
    border: 1px solid grey;
    font-size: 15px;
}

.user-types{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -70px;
    padding-right: 40px;
    padding-left: 0px;
    margin-left: -20px;
    border-right: 1px solid grey;
}

.methods{
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
}

.con-icons{
    color: grey;
    margin-top: 10px;
    text-align: center;
}

.pro{
    margin-top: 1px;
    font-size: 20px;

}

.header-divider{
    margin: 0px;
    height: 0px;
    border-top-color: rgb(209, 208, 208);
    padding: 0px;
}

.dh-2{
    display: flex;
    margin-left: 65px;
    margin-right: 65px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    gap: 20px;
    padding:10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
}

.catogory{
    height: 100%;
    font-size: 100px;
}

.desktop-header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    background: white;
}

/* Header ends here */

.product-body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.img-1{
    position: relative;
}

.hd-above-img1{
    position: absolute;
    top: 400px;
    left: 150px;
    width: 400px;
    font-size: 40px;
    color:coral;
    text-shadow: 2.5px 2px 4px black;
}

.bt-above-img1{
    position: absolute;
    top: 550px;
    left: 130px;
    width: 250px;
    font-size: 35px;
    background: none;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    animation: colorchg;
    animation-duration: 10s;
    font-weight: bold;
    text-shadow: 0 0 8px;
    animation-iteration-count: infinite;
}
@keyframes colorchg {
    0%,8%{color: darkred;}
  10%,18%{color: chocolate;}
  20%,28%{color: darkgoldenrod;}
  30%,38%{color: darkgreen;}
  40%,48%{color: teal;}
  50%,58%{color: midnightblue;}
  60%,68%{color: indigo;}
  70%,78%{color: darkmagenta;}
  80%,88%{color: mediumvioletred;}
  90%,100%{color: darkred;}
}

.bt-above-img1:hover{
    cursor: pointer;
}

.img-1{
    margin: 0px;
}

.img-con-box-bg{
    background-color: rgb(255, 180, 243);
    margin: 0px;
    max-width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 0px;
}

.img-con-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    padding: 0px;
    background-color: white;
    border-radius: 10px;
}

.img-con{
    border-right: 2px solid lightgrey;
    padding-left: 20px;
    text-align: center;
}

.dif-img-types-bg{
    padding: 80px;
    padding-top: 60px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    gap: 90px;
    margin-left: 60px;
    margin-right: 60px;
}

.dif-imgs{
    padding: 0%;
}

.dif-img-names{
    text-align: center;
    width: 100px;
    height: 37px;
    padding: 0px;   
}

.gold{
    position: relative;
}

.gold-con{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 80px;
    background: none;
    right: 150px;
    top: 200px;
}

.gold-con div{
    border: 3px solid black;
    padding: 20px;
}

.gold-con-img{
    width: 150px;
}

.gold-con-img-tem{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    text-align: center;
    color: rgb(248, 248, 96);
}

.gold-txt-hd{
    position: absolute;
    top: 500px;
    left: 200px;
    color: rgb(255, 231, 93);
    font-size: 80px;
}

.gold-txt-p{
    position: absolute;
    top: 600px;
    left: 200px;
    width: 400px;
    color: rgb(248, 226, 99);
    font-size: 40px;
}

.gold-con-bt{
    position: absolute;
    top: 750px;
    left: 200px;
    background: none;
    border: none;
    font-size: 30px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    animation: colorchg;
    animation-duration: 10s;
    font-weight: bold;
    text-shadow: 0 0 8px;
    animation-iteration-count: infinite;
}
@keyframes colorchg {
    0%,8%{color: darkred;}
  10%,18%{color: chocolate;}
  20%,28%{color: darkgoldenrod;}
  30%,38%{color: darkgreen;}
  40%,48%{color: teal;}
  50%,58%{color: midnightblue;}
  60%,68%{color: indigo;}
  70%,78%{color: darkmagenta;}
  80%,88%{color: mediumvioletred;}
  90%,100%{color: darkred;}
}

